# Ignore nearly everything 
*

# Except...
!Census_distribution_extraction.ipynb
!distribution_extraction.R
!renv/
!renv/settings.json
!renv.lock
!Distributions_comparisons.ipynb

# Don't ignore this file
!.gitignore

